//this is set to the same height as the navbar
body {
  padding-top: 98px;
  @media (max-width: 768px) {
    padding-top: 90px;
  }
}
//example of media query if needed to use
// @media (min-width: 600px) {
//   body {
//     padding-top: 400px;
//   }
// }
.space {
  padding: 10px;
}


.site-footer {
  margin-bottom: 0;
  margin-top: 4rem;
}

.footer-link {
  color: rgba(0,0,0,.5) !important;
}

// guess you just use !important to override bootstrap 4 classes
.title-jumbotron {
  background-color: white !important;
  border-radius: 0 !important;
}



.image-jumbotron {
  max-height: 50% !important;
}

.custom-nav {
  // flex-grow: .10 !important;
  // background-color: #0051ff !important;
}
.custom-nav-justify {
  justify-content: space-between;
  @media (max-width: 768px) {
    justify-content: end;
  }
}

.custom-navbar-logo {
  max-width: 15rem;
  max-height: 4.5rem;
  @media (max-width: 576px) {
    max-width: 10rem;
  }
}

.lsmhockeylogo {
  max-height: 4.5rem;
  @media (max-width: 576px) {
    max-height: 4rem;
  }
}


#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.list-group-flush .list-group-item:first-child {
  border-top: 0 !important;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60vw;
}

.product-image {
  max-width: 15rem;
}

.product-brand {
  max-width: 5rem;
  padding-top: 1rem;
  vertical-align: middle;
}

.service-image {
  max-width: 300px;
}

.fakeimg {
  max-height: 200px;
  background: #aaa;
}


//brands css

.brand-image {
  max-width: 6rem;
  box-sizing: border-box;

}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

//jumbotron
.jumbo-pad {
  padding-right: 4rem!important;
}

.jumbo-lsmhockeylogo {
  max-width: 200px !important;
}
//navbar css


//carousel css
.coiny {
  font-family: 'Coiny', cursive;
}
.carousel-height {
  max-height: 30rem !important;
}

.product-carousel-height {
  height: 25rem !important;
}

.product-carousel-image-height {
  height: 10rem;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}

.delay-4s {
  animation-delay: 4s;
}

.delay-5s {
  animation-delay: 5s;
}

.c-1 {
  max-width: 20%;
}

.c-1-1 {
  right: 500px;
  z-index: 2;
}

.c-1-2 {
  z-index: 3;
}

.c-1-3 {
  z-index: 1;
}

//button css

//put up on heroku site to let mom look/think/review it