// .content-container {
//   margin-top: 30px;
// }

// .slide-bg {
//   min-height: 190px !important;
//   @media (min-width: 900px) {
//     height: 350px !important;
//   }
//   @media (min-width: 1300px) {
//     height: 100% !important;
//   }
// }

// .carousel-inner img {
//   width: 100%;
//   height: 100%;
//   max-height: 452px;
// }


// .carousel-caption {
//   @media(max-width: 500px) {
//     right: 10% !important;
//     left: 5% !important;
//     padding-bottom: 0 !important;
//   }
// }

// //Carousel Animations
// // .carousel-caption img:first-child {
// //   animation-delay: 1s;
// // }

// // .carousel-caption img:nth-child(2) {
// //   animation-delay: 2s;
// // }

// // .carousel-caption img:nth-child(3) {
// //   animation-delay: 3s;
// // }

// // .carousel-caption img:nth-child(4) {
// //   animation-delay: 4s;
// // }


// // .bottom-left {
// //   z-index: 1 !important; // height: inherit !important;
// // }

// // .top {
// //   position: absolute !important;
// //   z-index: 2 !important;
// //   left: 19% !important;
// //   height: inherit !important;
// //   @media(max-width: 500px) {
// //     left: 16% !important;
// //   }
// // }

// .bottom-right {
//   z-index: 1 !important;
// }

// //works for desktop but need to add a media query - is slightly out of place in mobile
// .logo-right {
//   z-index: 1 !important;
//   margin-left: 10% !important;
//   margin-top: 15% !important;
//   @media(max-width: 500px) {
//     margin-top: 10% !important;
//     padding-bottom: 10px !important;
//   }
// }

// #logo-stormtech {
//   max-height: 150px;
//   max-width: 120px;
// }

// #img-stormtech-1 {
//   width: 31% !important;
// }

// #img-stormtech-2 {
//   width: 19% !important;
// }

// #img-stormtech-3 {
//   width: 28% !important;
// }


// #img-goretex {
//   width: 31% !important;
//   height: 19%;
// }